body{
	font-family: 'Lato', sans-serif !important;
	margin:0;
	padding:0;
	background:#fff;
 }
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;			   
}
p{
	margin:0;
}
ul{
margin:0;
padding:0;
}
/*#204056 */
/*-- top-header --*/
.header{
	padding:14px 0;
	background:#204056;
	height:50px;
}
.header-left{
	float:left;
	width:25%;
	vertical-align: middle;
}
.header-left p{
	color:#ffffff;
	font-size: 20px;
	font-weight: 400;
}
.header-right {
  	float:right;
	width:35%;
	height: 100%;
	vertical-align: middle;
  }

.header-right a{
	color:#fff;
}
.login-section{
  float: right;
  padding: 0 0px 0 0;
  width: 30%;
  text-align: right;
  vertical-align: middle;
}
.login-section ul {
	color: #fff;
}
.login-section ul li{
	display:inline-block;
}
.login-section ul li a{
	text-decoration:none;
	color: #fff;
	font-size: 20px;
	padding: 0 10px;
	font-weight: 400;
}
.login-section ul li a:hover{
	color:#999999;
}

/*-- //top-header --*/
/*-- //banner --*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li{
  position: relative;
  display: block;
}

.banner{
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
min-height: 400px;
}
.banner.one{
background:url(../images/888.jpg) no-repeat 0px 0px;
background-size:cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
-moz-background-size: cover;
}

.nav1{
	text-align: center;
}




/*-- navigation --*/
.navigation {
  background: rgba(255, 255, 255, 0.35);

}
	/*-- menu --*/

	/*-- //menu --*/
.navigation ul{
	padding:0;
	margin:0;
	text-align:center;
	}
.navigation ul li{
border-left:1px solid #fff;
display:inline-block;
float:center;
width: 20%;
	}
.navigation ul li:first-child{
border:none;
}
.navigation ul li a {

  color: #000;
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  padding: 18px 0;
  }

.navigation ul li a:hover ,.navigation ul li a.active{
  color: #fff;
  background: #b30047;
}

/*-- //navigation --*/

/*-- menu --*/
.menu{
padding:100px 0;
}
.menu-info h3 {
  margin: 0 0 20px 0;
  text-align: center;
  font-size: 28px;
  font-family: 'Roboto Slab', serif;
  color: #b30047;
  font-weight: bold;
}
.our-menu-grids{
margin-top:50px;
}
.order-top li {
  display: inline-block;
  vertical-align: middle;
}
li.im-g {
  float: left;
  width: 24%;
}
li.data {
  float: left;
  width: 40%;
  margin-left: 3%;
}
li.bt-nn {
  float: right;
  width: 8%;
  margin: 3em 0;
  text-align: right;
}
.order-top {
  padding: 25px 0;
  border-bottom: 1px dotted #000;
}
.order-top h3 {
margin:0;
font-size:32px;
font-weight:bold;
color:#204056;
font-family: 'Roboto Slab', serif;
}
.order-top h4{
  margin: 20px 0;
  font-size: 22px;
  font-family: 'Roboto Slab', serif;
  color: #b30047;
  font-weight: bold;
}

.li.bt-nn a{
  text-decoration: none;
  background: #204056;
  color: #ffffff;
  padding: 10px 18px;
  font-size: 14px;
}
/*-- //menu --*/

/* Shutter In Horizontal */
a.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
 padding: 10px 18px;
font-size: 14px; 
  background: #204056;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: #fff;
}
a.hvr-shutter-in-horizontal:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #b30047;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
a.hvr-shutter-in-horizontal:hover,a.hvr-shutter-in-horizontal:focus,a.hvr-shutter-in-horizontal:active {
  color: white;
}
a.hvr-shutter-in-horizontal:hover:before,a.hvr-shutter-in-horizontal:focus:before,a.hvr-shutter-in-horizontal:active:before {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
}

/*-- orders --*/
.pr-left {
  float: left;
  width: 50%;
}
.pr-right {
  float: left;
  width: 50%;
  margin: 12px 0 0 0;
}
.order-top h6 {
  color: #000;
  margin:14px 0;
  font-weight: normal;
  font-size: 14px;
}
.pre-top a {
  color:#204056;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
}
.order-top p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height:1.8em;
  margin:21px 0 0 0;
}
.order-top:nth-child(7){
border:none;
}
.orders {
  padding: 80px 0;
}
/*-- //orders --*/

/*-- deliver-page --*/
.contact {
	padding: 100px 0;
	}
.contact-info {
	margin-bottom: 40px;
	}
.contact-left{
	width:30%;
	float:left;
	}
.contact-right{
	width:68%;
	float:right;
	}
.contact-left input[type="text"]{
	width: 100%;
	color: #000;
	margin: 0 23px 23px 0;
	font-size:14px;
	padding: 12px 10px;
	outline: none;
	border: 1px solid #e8e8e8;
	}
.contact-right textarea{
	width: 100%;
	color: #000;
	font-size:14px;
	resize: none;
	height: 185px;
	padding: 12px;
	outline: none;
	border: 1px solid #e8e8e8;
	}
.contact-form input[type=submit] {
border:none;
	color: #ffffff;
	padding: 13px 43px;
	font-size: 14px;
	cursor: pointer;
	font-weight: 500;
	background:#b30047;
	}
.contact-form input[type=submit]:hover {
	background:#204056;
	transition: .5s all;
	-webkit-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	-moz-transition: .5s all;	
	}
.contact-info h3{
text-align:center;
  margin: 0 0 20px 0;
  font-size: 28px;
  font-family: 'Roboto Slab', serif;
  color: #b30047;
  font-weight: bold;
  text-transform: uppercase;
}
.contact-map{
width:100%;
height:330px;
margin-bottom: 52px;
}
.contact-map iframe{
width:100%;
height:330px;
}
/*-- //contact-page --*/

/*-- registration-form --*/
.registration-form {
  padding: 100px 0;

}
.registration-form h3 {
  margin: 0 0 0px 0;
  font-size: 28px;
  font-family: 'Roboto Slab', serif;
  color: #b30047;
  font-weight: bold;
  text-transform:uppercase;
}
.reg p{
  color: #000;
  margin: 0px 0 0 0;
  font-size: 14px;
  line-height: 1.8em;
}
.col-md-6.reg-form {
  padding: 0;
}

.reg p:nth-child(2) {
 margin:0;
}
.reg form {
  margin-top: 32px;
}
.reg p a{
text-decoration:none;
color:#b30047;
}
.reg p a:hover{
color: #000;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
}
.reg ul {
padding:0;
margin:0 0 22px 0;
}
.reg ul li {
display: inline-block;
width: 58%;
}
.reg ul li.text-info{
  width: 38%;
  color: #204056;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 0px 0;
  font-weight: bold;
}
.reg form input[type="text"],.reg form input[type="password"] {
width: 100%;
padding: 8px;
font-size: 14px;
font-weight: 400;
border: 1px solid #e6e6e6;
outline: none;
color: #000;
}
.reg-form{
float:left;
width:50%
}
.reg-right{
float:right;
width:47%
}
p.click a{
display: inline-block;
color:#f65a5b;
}
p.click a:hover{
color: #000;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
}
.reg form input[type=submit]{
border:none;
  color: #ffffff;
  padding: 9px 35px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 0 32px 0;
  background: #204056;
  border-top: none;
  border-left: none;
  border-right: none;
}
.reg form input[type=submit]:hover {
  background:#f65a5b;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
  }
.reg ul:nth-child(6) {
  margin: 0 0 32px 0;
}
.reg ul li:nth-child(2){
  margin-left: 3%;
}
.reg-right p{
  color: #000;
  margin: 22px 0;
  font-size: 14px;
  line-height: 1.8em;
}
/*-- //registration-form --*/
/*-- login-page --*/
.page-head{
  min-height: 398px !important;
}

.login {
  padding:100px 0;
}

.log form input[type="password"] {
  margin-right: 58px;
}

.log h5{
color:#204056;
font-size:16px;
text-transform:uppercase;
margin:0 0 10px 0;
font-weight: bold; 
}
.log form {
margin-top:32px;
}
.log form input[type="text"],.log form input[type="password"] {
width: 70%;
padding: 8px;
font-size: 14px;
font-weight: 400;
border: 1px solid #e6e6e6;
outline: none;
color: #000;
margin-bottom:32px;
}
.log form input[type=submit]{
border:none;
  color: #ffffff;
  padding: 9px 35px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  margin: 0 0 32px 0;

  background:#204056;
  border-top: none;
  border-left: none;
  border-right: none;
}
.log form input[type=submit]:hover {
  background: #b30047; 
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
  }
.log p a{
text-decoration:none;
color:#b30047;
}
.log p a:hover{
color:#000;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
}
.login-right h3,.log h3  {
  margin: 0 0 0px 0;
  font-size: 28px;
  font-family: 'Roboto Slab', serif;
  color: #b30047;
  font-weight: bold;
}
.login-right p {
  color: #000000;
  margin: 22px 0 40px 0;
  font-size: 14px;
  line-height:1.8em;
}
.log p{
  color: #000;
  margin:22px 0;
  font-size: 14px;
  line-height:1.8em;
}
.log p:nth-child(4) {
 margin:0;
}
.log a{
text-decoration:none;
color:#b30047;
}
.log a:hover{
color: #000;
  transition: .5s all;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  -moz-transition: .5s all;
}
.login-right a{
text-decoration:none;
background:#204056;
color:#ffffff;

}
/*-- //login-page --*/

/*-- footer --*/
.footer{
background:#b30047;
padding:10px 0;
}
.footer-left{
float:left;
width:50%;
}

.footer-left p{
margin: 8px 0 0 0;
font-size:16px;
color:#ffffff;

}


/*-- footer --*/
/* -- */